@model List<Practice0102.Models.MakerCheckerModel>

@{
    int i = 1;
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>@item.sEmpName</td>
            <td>@item.sPanNo</td>
            <td>@item.sMbleNo</td>
            <td>@item.dMnthlyIncm</td>
            <td>@item.MarriageStatus</td>
            <td>@item.sAdrs</td>
            <td>
                <button class="btn btn-success btn-sm" onclick="UpdateStatus('@item.iPk_MakerId',1)">
                    <i class="fa fa-check"></i> Approve
                </button>
                <button class="btn btn-danger btn-sm" onclick="UpdateStatus('@item.iPk_MakerId',2)">
                    <i class="fa fa-times"></i> Reject
                </button>
            </td>
        </tr>
        i++;
    }
}
else
{
    <tr><td colspan="9">No Data Available</td></tr>
}
